<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>kEnabled</key>
    <false/>
    <key>kSchemeMode</key>
    <string>0</string>
    <key>k_DarkAcknowledgmentIcon</key>
    <string>FF8585:1.000000</string>
    <key>k_DarkAttachmentBubble</key>
    <string>333333:1.000000</string>
    <key>k_DarkBrowserBar</key>
    <string>1C1C1C:1.000000</string>
    <key>k_DarkBubbleBackground</key>
    <string>323232:0.797619</string>
    <key>k_DarkBubbleBordersOnly</key>
    <false/>
    <key>k_DarkBubbleCornersNone</key>
    <false/>
    <key>k_DarkBubbleTails</key>
    <true/>
    <key>k_DarkCellDateLabel</key>
    <string>808080:1.000000</string>
    <key>k_DarkCellFromLabel</key>
    <string>FFFFFF:1.000000</string>
    <key>k_DarkCellSummaryLabel</key>
    <string>808080:1.000000</string>
    <key>k_DarkChatFooter</key>
    <string>1C1C1C:1.000000</string>
    <key>k_DarkChatInfoText</key>
    <string>FFFFFF:1.000000</string>
    <key>k_DarkChatListBackground</key>
    <string>171717:1.000000</string>
    <key>k_DarkChatListBackgroundImage</key>
    <string>/User/Library/Preferences/bubbles/DarkChatListBackgroundImage.png</string>
    <key>k_DarkComposeRecipientTextDefault</key>
    <string>C6C5CC:1.000000</string>
    <key>k_DarkComposeRecipientTextIMessage</key>
    <string>1982FC</string>
    <key>k_DarkComposeRecipientTextSMS</key>
    <string>43CC47</string>
    <key>k_DarkConversationListBackground</key>
    <string>171717:1.000000</string>
    <key>k_DarkConversationListBackgroundImage</key>
    <string>/User/Library/Preferences/bubbles/DarkConversationListBackgroundImage.png</string>
    <key>k_DarkEntryBackground</key>
    <string>1C1C1C:1.000000</string>
    <key>k_DarkEntryBackgroundBlur</key>
    <true/>
    <key>k_DarkEntryBorder</key>
    <string>343035:1.000000</string>
    <key>k_DarkEntryFill</key>
    <string>1C1C1C:1.000000</string>
    <key>k_DarkEntryText</key>
    <string>C6C5CC:1.000000</string>
    <key>k_DarkIMessageBubble</key>
    <string>1982FC:1.000000</string>
    <key>k_DarkIMessageLink</key>
    <string>1D79EF:1.000000</string>
    <key>k_DarkIMessageSendButton</key>
    <string>1982FC:1.000000</string>
    <key>k_DarkIMessageText</key>
    <string>FFFFFF:1.000000</string>
    <key>k_DarkIncomingBubble</key>
    <string>333333:1.000000</string>
    <key>k_DarkIncomingLink</key>
    <string>1D79EF:1.000000</string>
    <key>k_DarkIncomingText</key>
    <string>FFFFFF:1.000000</string>
    <key>k_DarkInteractionTint</key>
    <string>7B7B7B:1.000000</string>
    <key>k_DarkKeyboardStyle</key>
    <integer>0</integer>
    <key>k_DarkNavigationBarBackground</key>
    <string>000000:1.000000</string>
    <key>k_DarkNavigationBarButtons</key>
    <string>808080:1.000000</string>
    <key>k_DarkNavigationBarTitle</key>
    <string>FFFFFF:1.000000</string>
    <key>k_DarkSMSBubble</key>
    <string>43CC47:1.000000</string>
    <key>k_DarkSMSLink</key>
    <string>1D79EF:1.000000</string>
    <key>k_DarkSMSSendButton</key>
    <string>43CC47:1.000000</string>
    <key>k_DarkSMSText</key>
    <string>FFFFFF:1.000000</string>
    <key>k_DarkStatusBar</key>
    <string>1</string>
    <key>k_DarkStatusBarStyle</key>
    <integer>1</integer>
    <key>k_DarkTypingDot</key>
    <string>848E99:1.000000</string>
    <key>k_DarkUseChatListBackgroundImage</key>
    <false/>
    <key>k_DarkUseConversationListBackgroundImage</key>
    <false/>
    <key>k_DarkUseGradientConversationBubble</key>
    <false/>
    <key>k_LightAcknowledgmentIcon</key>
    <string>808080:1.000000</string>
    <key>k_LightAttachmentBubble</key>
    <string>C8C8C8:1.000000</string>
    <key>k_LightBrowserBar</key>
    <string>FFFFFF:1.000000</string>
    <key>k_LightBubbleBackground</key>
    <string>DADADA:0.398526</string>
    <key>k_LightBubbleBordersOnly</key>
    <false/>
    <key>k_LightBubbleCornersNone</key>
    <false/>
    <key>k_LightBubbleTails</key>
    <true/>
    <key>k_LightCellDateLabel</key>
    <string>808080:1.000000</string>
    <key>k_LightCellFromLabel</key>
    <string>000000:1.000000</string>
    <key>k_LightCellSummaryLabel</key>
    <string>808080:1.000000</string>
    <key>k_LightChatFooter</key>
    <string>FFFFFF:1.000000</string>
    <key>k_LightChatInfoText</key>
    <string>808080:1.000000</string>
    <key>k_LightChatListBackground</key>
    <string>FFFFFF:1.000000</string>
    <key>k_LightComposeRecipientTextDefault</key>
    <string>C6C5CC</string>
    <key>k_LightComposeRecipientTextIMessage</key>
    <string>007AFF</string>
    <key>k_LightComposeRecipientTextSMS</key>
    <string>4CD964</string>
    <key>k_LightConversationListBackground</key>
    <string>FFFFFF:1.000000</string>
    <key>k_LightEntryBackground</key>
    <string>FFFFFF:1.000000</string>
    <key>k_LightEntryBackgroundBlur</key>
    <true/>
    <key>k_LightEntryBorder</key>
    <string>C8C8C8:1.000000</string>
    <key>k_LightEntryFill</key>
    <string>FFFFFF:1.000000</string>
    <key>k_LightEntryText</key>
    <string>000000:1.000000</string>
    <key>k_LightIMessageBubble</key>
    <string>007AFF:1.000000</string>
    <key>k_LightIMessageLink</key>
    <string>007AFF:1.000000</string>
    <key>k_LightIMessageSendButton</key>
    <string>007AFF:1.000000</string>
    <key>k_LightIMessageText</key>
    <string>FFFFFF:1.000000</string>
    <key>k_LightIncomingBubble</key>
    <string>C8C8C8:1.000000</string>
    <key>k_LightIncomingLink</key>
    <string>007AFF:1.000000</string>
    <key>k_LightIncomingText</key>
    <string>000000:1.000000</string>
    <key>k_LightInteractionTint</key>
    <string>007AFF:1.000000</string>
    <key>k_LightKeyboardStyle</key>
    <integer>1</integer>
    <key>k_LightNavigationBarBackground</key>
    <string>FFFFFF:1.000000</string>
    <key>k_LightNavigationBarButtons</key>
    <string>007AFF:1.000000</string>
    <key>k_LightNavigationBarTitle</key>
    <string>000000:1.000000</string>
    <key>k_LightSMSBubble</key>
    <string>4CD964:1.000000</string>
    <key>k_LightSMSLink</key>
    <string>007AFF:1.000000</string>
    <key>k_LightSMSSendButton</key>
    <string>4CD964:1.000000</string>
    <key>k_LightSMSText</key>
    <string>FFFFFF:1.000000</string>
    <key>k_LightStatusBarStyle</key>
    <integer>0</integer>
    <key>k_LightTypingDot</key>
    <string>848E99:1.000000</string>
    <key>k_LightUseChatListBackgroundImage</key>
    <false/>
    <key>k_LightUseConversationListBackgroundImage</key>
    <false/>
    <key>k_LightUseGradientConversationBubble</key>
    <false/>
</dict>
</plist>