<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPDeveloperCell</string>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>username</key>
				<string>CreatureSurvive</string>
				<key>provider</key>
				<string>0</string>
				<key>height</key>
				<string>81</string>
				<key>devName</key>
				<string>CreatureSurvive</string>
				<key>devTitle</key>
				<string>Dana Buehre</string>
				<key>devSubtitle</key>
				<string>Developer/Designer</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Info</string>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>url</key>
				<string>https://creaturesurvive.github.io/repo/packages/bubbles/depiction/</string>
				<key>label</key>
				<string>Depiction</string>
				<key>sublabel</key>
                <string>Learn more about bubbles</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Donations</string>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPCalloutCell</string>
				<key>calloutColor</key>
				<string>#74d69c</string>
				<key>url</key>
				<string>https://paypal.me/creaturecoding</string>
				<key>icon</key>
				<string/>
				<key>label</key>
				<string>Make a Donation</string>
				<key>sublabel</key>
                <string>Help compensate me for my efforts</string>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>CSPCalloutCell</string>
				<key>calloutColor</key>
				<string>#74d69c</string>
				<key>url</key>
				<string>https://www.patreon.com/user?u=8920573</string>
				<key>icon</key>
				<string/>
				<key>label</key>
				<string>Become a Patreon</string>
				<key>sublabel</key>
                <string>Help support future development</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Support</string>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>url</key>
				<string>https://github.com/CreatureSurvive/bubbles/issues</string>
				<key>label</key>
				<string>Submit an Issue</string>
				<key>sublabel</key>
                <string>Report a bug on GitHub and feel warm and fuzzy</string>
			</dict>

            <dict>
                <key>action</key>
                <string>email:</string>
                <key>cell</key>
                <string>PSLinkCell</string>
                <key>mailto</key>
                <string>mailto:support@creaturecoding.com?subject=bubbles%20v0.2.2b</string>
                <key>includeLogs</key>
                <true/>
                <key>attachmentFiles</key>
                <array>
                    <string>/User/Library/Preferences/com.creaturecoding.bubbles.plist</string>
                </array>
                <key>label</key>
                <string>Email Support</string>
				<key>sublabel</key>
                <string>Need help? Send me an email and I'll do my best.</string>
            </dict>

			<dict>
				<key>action</key>
				<string>copyTweakList</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Copy Tweak List</string>
				<key>sublabel</key>
                <string>Needing a list of all installed tweaks?</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Contact</string>
				<key>footerText</key>
				<string>CreatureCoding © 2018</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>url</key>
				<string>https://join.slack.com/t/creaturesurvivetweaks/shared_invite/enQtNDAyNDk2NTM4OTE0LWE2NWViZTI5MzVkYjYwYThlZGI5YjU5NzVkMTYxMzcwYWQ4NDg2MmNiYjY5ODc3ZmFhYzE2NmQ1N2ZiNjk3NDI</string>
				<key>icon</key>
				<string/>
				<key>label</key>
				<string>CreatureSurvive Tweak's</string>
				<key>sublabel</key>
                <string>Join my Slack group &amp; stay up to date</string>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>url</key>
				<string>https://twitter.com/CreatureSurvive</string>
				<key>icon</key>
				<string/>
				<key>label</key>
				<string>@CreatureSurvive</string>
				<key>sublabel</key>
                <string>Follow me on twitter</string>
			</dict>

			<dict>
				<key>action</key>
				<string>openInBrowser:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>url</key>
				<string>https://www.reddit.com/user/CreatureSurvive</string>
				<key>icon</key>
				<string/>
				<key>label</key>
				<string>u/CreatureSurvive</string>
				<key>sublabel</key>
                <string>Stay informed by following me on Reddit</string>
			</dict>

		</array>
		<key>title</key>
		<string>Contact Me</string>
	</dict>
</plist>
