<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>globalEnabled</key>
        <true/>
        <!-- LockScreen -->
        <key>enabled</key>
        <true/>
        <key>collapseOnLock</key>
        <true/>
        <key>enablePullToClear</key>
        <true/>
        <key>privacyMode</key>
        <true/>
        <key>iconLocation</key>
        <real>0</real>
        <key>iconSize</key>
        <real>1</real>
        <key>numberStyle</key>
        <real>2</real>
        <key>verticalAdjustmentTop</key>
        <real>0</real>
        <key>verticalAdjustmentBottom</key>
        <real>0</real>
        <key>lsShowAllSection</key>
        <true/>
        <key>showAllWhenNotSelected</key>
        <real>0</real>
        <key>disableHintText</key>
        <false/>
        <key>pullToClearColor</key>
        <string>#FFFFFF:1.000000</string>
        <key>selectionColor</key>
        <string>#FFFFFF:0.600000</string>
        <key>verticalAdjustmentEnabled</key>
        <false/>
        <key>lsBadgeBackgroundColor</key>
        <string>#ff4747:0.600000</string>
        <key>lsBadgeTextColor</key>
        <string>#000000:0.600000</string>
        <key>lsMaterialColor</key>
        <string>#ffffff:0.650000</string>
        <key>lsMaterialColorUnselected</key>
        <string>#ffffff:0.650000</string>
        <key>lsBadgeRadius</key>
        <real>0.3</real>
        <key>lsMaterialRadius</key>
        <real>0.3</real>
        <key>lsIconRadius</key>
        <real>0.3</real>
        <key>lsSpringAnimation</key>
        <true/>
        <key>lsBadgeScale</key>
        <real>1.0</real>

        <!-- NC -->
        <key>ncEnabled</key>
        <true/>
        <key>ncCollapseOnLock</key>
        <true/>
        <key>ncEnablePullToClear</key>
        <true/>
        <key>ncIconLocation</key>
        <real>0</real>
        <key>ncIconSize</key>
        <real>1</real>
        <key>ncNumberStyle</key>
        <real>2</real>
        <key>ncShowAllSection</key>
        <true/>
        <key>ncShowAllWhenNotSelected</key>
        <real>0</real>
        <key>ncHideChevronAndLine</key>
        <false/>
        <key>ncPullToClearColor</key>
        <string>#FFFFFF:1.000000</string>
        <key>ncSelectionColor</key>
        <string>#FFFFFF:0.600000</string>
        <key>ncBadgeBackgroundColor</key>
        <string>#ff4747:0.600000</string>
        <key>ncBadgeTextColor</key>
        <string>#000000:0.600000</string>
        <key>ncMaterialColor</key>
        <string>#ffffff:0.650000</string>
        <key>ncMaterialColorUnselected</key>
        <string>#ffffff:0.650000</string>
        <key>ncBadgeRadius</key>
        <real>0.3</real>
        <key>ncMaterialRadius</key>
        <real>0.3</real>
        <key>ncIconRadius</key>
        <real>0.3</real>
        <key>ncSpringAnimation</key>
        <true/>
        <key>ncBadgeScale</key>
        <real>1.0</real>
        <!-- GENERAL -->
        <key>alwaysSendToLockscreen</key>
        <false/>
        <key>disableAutomaticDismiss</key>
        <false/>
        <key>disableHintText</key>
        <false/>
        <key>tapToOpen</key>
        <false/>
    </dict>
</plist>