<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
	<dict>
		<key>items</key>
		<array>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>State - Today</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>loadPlist</key>
				<true/>
				<key>key</key>
				<string>batteryOptionsState</string>
				<key>default</key>
				<integer>0</integer>
				<key>validTitles</key>
				<array>
					<string>(D)</string>
					<string>(DN)</string>
					<string>(NP)</string>
					<string>(NPN)</string>
					<string>(T)</string>
				</array>
				<key>validValues</key>
				<array>
					<string>BatteryState0</string>
					<string>BatteryState1</string>
					<string>BatteryState2</string>
					<string>BatteryState3</string>
					<string>BatteryState4</string>
				</array>
				<key>PostNotification</key>
				<string>com.creaturesurvive.motuumls.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturesurvive.motuumls</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Battery Indicator Enabled</string>
				<key>key</key>
				<string>kMLSDateViewBatteryEnabled4</string>
				<key>default</key>
				<false/>
				<key>PostNotification</key>
				<string>com.creaturesurvive.motuumls.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturesurvive.motuumls</string>
			</dict>


			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Battery Position and Size</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>cellClass</key>
				<string>CSPValueCell</string>
				<key>formatsDecimals</key>
				<true/>
				<key>seporatorHidden</key>
				<true/>
				<key>height</key>
				<string>30</string>
				<key>defaults</key>
				<string>com.creaturesurvive.motuumls</string>
				<key>default</key>
				<string>0.5</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>isDecimalPad</key>
				<true/>
				<key>key</key>
				<string>kMLSBatteryOriginX4</string>
				<key>label</key>
				<string>Battery Position X</string>
				<key>placeholder</key>
				<string>0.5</string>
				<key>PostNotification</key>
				<string>com.creaturesurvive.motuumls.prefschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>label</key>
				<string>battery x</string>
				<key>defaults</key>
				<string>com.creaturesurvive.motuumls</string>
				<key>default</key>
				<real>0.5</real>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>1</real>
				<key>isContinuous</key>
				<true/>
				<key>showValue</key>
				<false/>
				<key>key</key>
				<string>kMLSBatteryOriginX4</string>
				<key>PostNotification</key>
				<string>com.creaturesurvive.motuumls.prefschanged</string>
				<key>leftImage</key>
				<string>glyphs/left.png</string>
				<key>rightImage</key>
				<string>glyphs/right.png</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>cellClass</key>
				<string>CSPValueCell</string>
				<key>formatsDecimals</key>
				<true/>
				<key>seporatorHidden</key>
				<true/>
				<key>height</key>
				<string>30</string>
				<key>defaults</key>
				<string>com.creaturesurvive.motuumls</string>
				<key>default</key>
				<string>0.5</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>isDecimalPad</key>
				<true/>
				<key>key</key>
				<string>kMLSBatteryOriginY4</string>
				<key>label</key>
				<string>Battery Position Y</string>
				<key>placeholder</key>
				<string>0.5</string>
				<key>PostNotification</key>
				<string>com.creaturesurvive.motuumls.prefschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>label</key>
				<string>battery y</string>
				<key>defaults</key>
				<string>com.creaturesurvive.motuumls</string>
				<key>default</key>
				<real>0.5</real>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>1</real>
				<key>isContinuous</key>
				<true/>
				<key>showValue</key>
				<false/>
				<key>key</key>
				<string>kMLSBatteryOriginY4</string>
				<key>PostNotification</key>
				<string>com.creaturesurvive.motuumls.prefschanged</string>
				<key>leftImage</key>
				<string>glyphs/up.png</string>
				<key>rightImage</key>
				<string>glyphs/down.png</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>cellClass</key>
				<string>CSPValueCell</string>
				<key>formatsDecimals</key>
				<true/>
				<key>seporatorHidden</key>
				<true/>
				<key>height</key>
				<string>30</string>
				<key>defaults</key>
				<string>com.creaturesurvive.motuumls</string>
				<key>default</key>
				<string>0.5</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>isDecimalPad</key>
				<true/>
				<key>key</key>
				<string>kMLSBatteryWidth4</string>
				<key>label</key>
				<string>Battery Width</string>
				<key>placeholder</key>
				<string>0.5</string>
				<key>PostNotification</key>
				<string>com.creaturesurvive.motuumls.prefschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>label</key>
				<string>resize battery</string>
				<key>defaults</key>
				<string>com.creaturesurvive.motuumls</string>
				<key>default</key>
				<real>0.5</real>
				<key>min</key>
				<real>0.005</real>
				<key>max</key>
				<real>1</real>
				<key>isContinuous</key>
				<true/>
				<key>showValue</key>
				<false/>
				<key>key</key>
				<string>kMLSBatteryWidth4</string>
				<key>PostNotification</key>
				<string>com.creaturesurvive.motuumls.prefschanged</string>
				<key>leftImage</key>
				<string>glyphs/merge vertical.png</string>
				<key>rightImage</key>
				<string>glyphs/split horizontal.png</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>cellClass</key>
				<string>CSPValueCell</string>
				<key>formatsDecimals</key>
				<true/>
				<key>seporatorHidden</key>
				<true/>
				<key>height</key>
				<string>30</string>
				<key>defaults</key>
				<string>com.creaturesurvive.motuumls</string>
				<key>default</key>
				<string>0.5</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>isDecimalPad</key>
				<true/>
				<key>key</key>
				<string>kMLSBatteryHeight4</string>
				<key>label</key>
				<string>Battery Height X</string>
				<key>placeholder</key>
				<string>0.5</string>
				<key>PostNotification</key>
				<string>com.creaturesurvive.motuumls.prefschanged</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>label</key>
				<string>resize battery</string>
				<key>defaults</key>
				<string>com.creaturesurvive.motuumls</string>
				<key>default</key>
				<real>0.5</real>
				<key>min</key>
				<real>0.005</real>
				<key>max</key>
				<real>1</real>
				<key>isContinuous</key>
				<true/>
				<key>showValue</key>
				<false/>
				<key>key</key>
				<string>kMLSBatteryHeight4</string>
				<key>PostNotification</key>
				<string>com.creaturesurvive.motuumls.prefschanged</string>
				<key>leftImage</key>
				<string>glyphs/merge horizontal.png</string>
				<key>rightImage</key>
				<string>glyphs/split vertical.png</string>
			</dict>

		</array>
		<key>title</key>
		<string>Today</string>
	</dict>
</plist>
