<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<!-- notification cell customization -->
		<key>kMLSNotificationCellsEnabled</key>
		<true/>

		<!-- notification cell -->
		<key>kMLSNotificationCellCustomization</key>
		<true/>
		<key>kMLSNotificationCellHeadersRemoved</key>
		<false/>
		<key>kMLSNotificationCellHeadersColored</key>
		<false/>
		<key>kMLSNotificationCellHeadersBackgroundAlpha</key>
		<real>1</real>
		<key>kMLSNotificationCellHeadersColoredCustom</key>
		<string>#FFFFFF:0.350000</string>
		<key>kMLSNotificationCellBackgroundRemoved</key>
		<false/>
		<key>kMLSNotificationCellBackgroundColored</key>
		<false/>
		<key>kMLSNotificationCellBackgroundAlpha</key>
		<real>1</real>
		<key>kMLSNotificationCellBackgroundColoredCustom</key>
		<string>#FFFFFF:0.650000</string>
		<key>kMLSNotificationCellForceLegibleText</key>
		<false/>
		<key>kMLSNotificationCellCustomTextColor</key>
		<string>#000000:1.000000</string>
		<key>kMLSNotificationCellHeaderForceLegibleText</key>
		<false/>
		<key>kMLSNotificationCellHeaderCustomTextColor</key>
		<string>#000000:0.950000</string>

		<!-- banner cell -->
		<key>kMLSNotificationBannerCustomization</key>
		<true/>
		<key>kMLSNotificationBannerHeadersRemoved</key>
		<false/>
		<key>kMLSNotificationBannerHeadersColored</key>
		<false/>
		<key>kMLSNotificationBannerHeadersBackgroundAlpha</key>
		<real>1</real>
		<key>kMLSNotificationBannerHeadersColoredCustom</key>
		<string>#FFFFFF:0.350000</string>
		<key>kMLSNotificationBannerBackgroundRemoved</key>
		<false/>
		<key>kMLSNotificationBannerBackgroundColored</key>
		<false/>
		<key>kMLSNotificationBannerBackgroundAlpha</key>
		<real>1</real>
		<key>kMLSNotificationBannerBackgroundColoredCustom</key>
		<string>#FFFFFF:0.650000</string>
		<key>kMLSNotificationBannerForceLegibleText</key>
		<false/>
		<key>kMLSNotificationBannerCustomTextColor</key>
		<string>#000000:1.000000</string>
		<key>kMLSNotificationBannerHeaderForceLegibleText</key>
		<false/>
		<key>kMLSNotificationBannerHeaderCustomTextColor</key>
		<string>#000000:0.950000</string>

		<!-- widget cell -->
		<key>kMLSNotificationWidgetCustomization</key>
		<true/>
		<key>kMLSNotificationWidgetHeadersRemoved</key>
		<false/>
		<key>kMLSNotificationWidgetHeadersColored</key>
		<false/>
		<key>kMLSNotificationWidgetHeadersBackgroundAlpha</key>
		<real>1</real>
		<key>kMLSNotificationWidgetHeadersColoredCustom</key>
		<string>#FFFFFF:0.350000</string>
		<key>kMLSNotificationWidgetBackgroundRemoved</key>
		<false/>
		<key>kMLSNotificationWidgetBackgroundColored</key>
		<false/>
		<key>kMLSNotificationWidgetBackgroundAlpha</key>
		<real>1</real>
		<key>kMLSNotificationWidgetBackgroundColoredCustom</key>
		<string>#FFFFFF:0.650000</string>
		<key>kMLSNotificationWidgetEditButtonColor</key>
		<string>#FFFFFF:0.650000</string>
		<key>kMLSNotificationWidgetHeaderForceLegibleText</key>
		<false/>
		<key>kMLSNotificationWidgetHeaderCustomTextColor</key>
		<string>#000000:0.950000</string>

		<key>kMLSLicensePath</key>
		<string>/User/Library/Preferences/.mls.activation.key</string>
		<key>kMLSRegisterdUserPath</key>
		<string>/User/Library/Preferences/.mls.user.key</string>
		<key>kMLSStatusKeyPath</key>
		<string>/User/Library/Preferences/.mls.status.key</string>
		<key>batteryOptionsState</key>
		<string>BatteryState0</string>
		<key>kMLSAnimationDamping</key>
		<string>0.75</string>
		<key>kMLSAnimationDelay</key>
		<real>0.0</real>
		<key>kMLSAnimationDuration</key>
		<string>0.5</string>
		<key>kMLSAnimationVelocity</key>
		<string>0.8</string>
		<key>kMLSArtworkAnimationDisabled</key>
		<false/>
		<key>kMLSArtworkAnimationEnabled</key>
		<true/>
		<key>kMLSArtworkAnimationOption</key>
		<real>2</real>
		<key>kMLSArtworkBlurBrightness</key>
		<real>0.0</real>
		<key>kMLSArtworkBlurContrast</key>
		<real>1</real>
		<key>kMLSArtworkBlurDominantSaturation</key>
		<real>0.2800000011920929</real>
		<key>kMLSArtworkBlurEnabled</key>
		<true/>
		<key>kMLSArtworkBlurPanningSpeed</key>
		<real>7</real>
		<key>kMLSArtworkBlurRadius</key>
		<real>10</real>
		<key>kMLSArtworkBlurSaturation</key>
		<real>1.120000004768372</real>
		<key>kMLSArtworkBlurTintColor</key>
		<string>727272:1.000000</string>
		<key>kMLSArtworkBlurTransitionLength</key>
		<real>0.5</real>
		<key>kMLSArtworkBlurUseDominantColor</key>
		<true/>
		<key>kMLSArtworkOriginX</key>
		<real>0.5</real>
		<key>kMLSArtworkOriginXWithNotifications</key>
		<real>0.02500000037252903</real>
		<key>kMLSArtworkOriginY</key>
		<real>0.52999997138977051</real>
		<key>kMLSArtworkOriginYWithNotifications</key>
		<real>0.93000000715255737</real>
		<key>kMLSArtworkScale</key>
		<real>0.75</real>
		<key>kMLSArtworkScaleWithNotifications</key>
		<real>0.28499999642372131</real>
		<key>kMLSArtworkScaleX</key>
		<real>0.92500001192092896</real>
		<key>kMLSArtworkScaleY</key>
		<real>0.92500001192092896</real>
		<key>kMLSBatteryBackgroundColor</key>
		<string>3A3A3A:0.600601</string>
		<key>kMLSBatteryCornerRadius</key>
		<real>0.5</real>
		<key>kMLSBatteryFillColorLow</key>
		<string>FFD23F:1.000000</string>
		<key>kMLSBatteryFillColorNormal</key>
		<string>59C94C:1.000000</string>
		<key>kMLSBatteryHeight</key>
		<real>0.30000001192092901</real>
		<key>kMLSBatteryHeight0</key>
		<real>0.10000000149011611</real>
		<key>kMLSBatteryHeight1</key>
		<real>0.10000000149011611</real>
		<key>kMLSBatteryHeight2</key>
		<real>0.10000000149011611</real>
		<key>kMLSBatteryHeight3</key>
		<real>0.10000000149011611</real>
		<key>kMLSBatteryHeight4</key>
		<real>0.10000000149011611</real>
		<key>kMLSBatteryLabelColor</key>
		<string>3A3A3A:1.000000</string>
		<key>kMLSBatteryOriginX</key>
		<real>0.5166667103767395</real>
		<key>kMLSBatteryOriginX0</key>
		<real>0.98000001907348633</real>
		<key>kMLSBatteryOriginX1</key>
		<real>0.98000001907348633</real>
		<key>kMLSBatteryOriginX2</key>
		<real>0.98000001907348633</real>
		<key>kMLSBatteryOriginX3</key>
		<real>0.98000001907348633</real>
		<key>kMLSBatteryOriginX4</key>
		<real>0.98000001907348633</real>
		<key>kMLSBatteryOriginY</key>
		<real>0.5166667103767395</real>
		<key>kMLSBatteryOriginY0</key>
		<real>0.125</real>
		<key>kMLSBatteryOriginY1</key>
		<real>0.125</real>
		<key>kMLSBatteryOriginY2</key>
		<real>0.125</real>
		<key>kMLSBatteryOriginY3</key>
		<real>0.125</real>
		<key>kMLSBatteryOriginY4</key>
		<real>0.125</real>
		<key>kMLSBatteryScale</key>
		<real>0.30000001192092901</real>
		<key>kMLSBatteryScale0</key>
		<real>0.15000000596046451</real>
		<key>kMLSBatteryScale1</key>
		<real>0.0</real>
		<key>kMLSBatteryScale2</key>
		<real>0.15000000596046451</real>
		<key>kMLSBatteryScale3</key>
		<real>0.15000000596046451</real>
		<key>kMLSBatteryScale4</key>
		<real>0.15000000596046451</real>
		<key>kMLSBatteryTipEnabled</key>
		<true/>
		<key>kMLSBatteryWidth</key>
		<real>0.06000000238</real>
		<key>kMLSBatteryWidth0</key>
		<real>0.079999998211860657</real>
		<key>kMLSBatteryWidth1</key>
		<real>0.079999998211860657</real>
		<key>kMLSBatteryWidth2</key>
		<real>0.079999998211860657</real>
		<key>kMLSBatteryWidth3</key>
		<real>0.079999998211860657</real>
		<key>kMLSBatteryWidth4</key>
		<real>0.079999998211860657</real>
		<key>kMLSCFLOriginY</key>
		<real>0.066666670143604279</real>
		<key>kMLSCallToActionLabelDisabled</key>
		<true/>
		<key>kMLSDashBoardMainPage</key>
		<integer>0</integer>
		<key>kMLSDateAreaAlignmentY</key>
		<real>1</real>
		<key>kMLSDateAreaAlignmentYWithMedia</key>
		<real>0.0</real>
		<key>kMLSDateFontFamily</key>
		<string>HelveticaNeue-Light</string>
		<key>kMLSDateFontFamily0</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSDateFontFamily1</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSDateFontFamily2</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSDateFontFamily3</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSDateFontFamily4</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSDateFontSize</key>
		<string>20</string>
		<key>kMLSDateFontSize0</key>
		<string>25</string>
		<key>kMLSDateFontSize1</key>
		<string>25</string>
		<key>kMLSDateFontSize2</key>
		<string>25</string>
		<key>kMLSDateFontSize3</key>
		<string>25</string>
		<key>kMLSDateFontSize4</key>
		<string>25</string>
		<key>kMLSDateFontStyle</key>
		<string>Menlo-Regular</string>
		<key>kMLSDateFormat</key>
		<string>EEEE, MMMM d</string>
		<key>kMLSDateFormat0</key>
		<string>EEEE, MMMM d</string>
		<key>kMLSDateFormat1</key>
		<string>EEEE, MMMM d</string>
		<key>kMLSDateFormat2</key>
		<string>EEEE, MMMM d</string>
		<key>kMLSDateFormat3</key>
		<string>EEEE, MMMM d</string>
		<key>kMLSDateFormat4</key>
		<string>EEEE, MMMM d</string>
		<key>kMLSDateLabelEnabled-1</key>
		<true/>
		<key>kMLSDateLabelEnabled0</key>
		<true/>
		<key>kMLSDateLabelEnabled1</key>
		<true/>
		<key>kMLSDateLabelEnabled2</key>
		<true/>
		<key>kMLSDateLabelEnabled3</key>
		<true/>
		<key>kMLSDateLabelEnabled4</key>
		<true/>
		<key>kMLSDateLegibilityShadows</key>
		<false/>
		<key>kMLSDateLegibilityShadows0</key>
		<true/>
		<key>kMLSDateLegibilityShadows1</key>
		<true/>
		<key>kMLSDateLegibilityShadows2</key>
		<true/>
		<key>kMLSDateLegibilityShadows3</key>
		<true/>
		<key>kMLSDateLegibilityShadows4</key>
		<true/>
		<key>kMLSDateStringAlignment</key>
		<integer>0</integer>
		<key>kMLSDateStringAlignment0</key>
		<integer>0</integer>
		<key>kMLSDateStringAlignment1</key>
		<integer>0</integer>
		<key>kMLSDateStringAlignment2</key>
		<integer>0</integer>
		<key>kMLSDateStringAlignment3</key>
		<integer>0</integer>
		<key>kMLSDateStringAlignment4</key>
		<integer>0</integer>
		<key>kMLSDateSystemFontWeight</key>
		<real>-0.60000002384185791</real>
		<key>kMLSDateSystemFontWeight0</key>
		<real>-0.40000000596046448</real>
		<key>kMLSDateSystemFontWeight1</key>
		<real>-0.40000000596046448</real>
		<key>kMLSDateSystemFontWeight2</key>
		<real>-0.60000002384185791</real>
		<key>kMLSDateSystemFontWeight3</key>
		<real>-0.60000002384185791</real>
		<key>kMLSDateSystemFontWeight4</key>
		<real>-0.40000000596046448</real>
		<key>kMLSDateTextColor</key>
		<string>C7C7CC:0.597598</string>
		<key>kMLSDateTextColor0</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSDateTextColor1</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSDateTextColor2</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSDateTextColor3</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSDateTextColor4</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSDateUseSystemFont</key>
		<true/>
		<key>kMLSDateUseSystemFont0</key>
		<true/>
		<key>kMLSDateUseSystemFont1</key>
		<true/>
		<key>kMLSDateUseSystemFont2</key>
		<true/>
		<key>kMLSDateUseSystemFont3</key>
		<true/>
		<key>kMLSDateUseSystemFont4</key>
		<true/>
		<key>kMLSDateViewAlignmentX</key>
		<real>0.17499999701976779</real>
		<key>kMLSDateViewAlignmentX0</key>
		<real>0.95999997854232788</real>
		<key>kMLSDateViewAlignmentX1</key>
		<real>0.95999997854232788</real>
		<key>kMLSDateViewAlignmentX2</key>
		<real>0.95999997854232788</real>
		<key>kMLSDateViewAlignmentX3</key>
		<real>0.95999997854232788</real>
		<key>kMLSDateViewAlignmentX4</key>
		<real>0.95999997854232788</real>
		<key>kMLSDateViewAlignmentY</key>
		<real>0.92500001192092896</real>
		<key>kMLSDateViewAlignmentY0</key>
		<real>0.221000000834465</real>
		<key>kMLSDateViewAlignmentY1</key>
		<real>0.221000000834465</real>
		<key>kMLSDateViewAlignmentY2</key>
		<real>0.221000000834465</real>
		<key>kMLSDateViewAlignmentY3</key>
		<real>0.221000000834465</real>
		<key>kMLSDateViewAlignmentY4</key>
		<real>0.221000000834465</real>
		<key>kMLSDateViewBatteryAlignmentX</key>
		<string>0</string>
		<key>kMLSDateViewBatteryEnabled</key>
		<true/>
		<key>kMLSDateViewBatteryEnabled-1</key>
		<true/>
		<key>kMLSDateViewBatteryEnabled0</key>
		<true/>
		<key>kMLSDateViewBatteryEnabled1</key>
		<true/>
		<key>kMLSDateViewBatteryEnabled2</key>
		<true/>
		<key>kMLSDateViewBatteryEnabled3</key>
		<true/>
		<key>kMLSDateViewBatteryEnabled4</key>
		<true/>
		<key>kMLSDateViewHideWithDefault</key>
		<false/>
		<key>kMLSDateViewHideWithNotifications</key>
		<false/>
		<key>kMLSDateViewIsVibrant</key>
		<false/>
		<key>kMLSDimDelay</key>
		<string>360</string>
		<key>kMLSEnabled</key>
		<true/>
		<key>kMLSForceArtworkVisible</key>
		<true/>
		<key>kMLSGreen</key>
		<string>00FF00:1.000000</string>
		<key>kMLSHasNotifications</key>
		<false/>
		<key>kMLSHideDateViewWithMedia</key>
		<false/>
		<key>kMLSIsShowingMediaControls</key>
		<false/>
		<key>kMLSLookLater</key>
		<true/>
		<key>kMLSMediaControlsOriginX</key>
		<real>0.0</real>
		<key>kMLSMediaControlsOriginXWithNotifications</key>
		<real>0.39900001883506769</real>
		<key>kMLSMediaControlsOriginY</key>
		<real>-0.20000000298023221</real>
		<key>kMLSMediaControlsOriginYWithNotifications</key>
		<real>0.20250001549720761</real>
		<key>kMLSMediaControlsPrimaryColor</key>
		<string>C7C7CC:1.000000</string>
		<key>kMLSMediaControlsScaleX</key>
		<real>0.0</real>
		<key>kMLSMediaControlsScaleXWithNotifications</key>
		<real>0.57150000333786011</real>
		<key>kMLSMediaControlsScaleY</key>
		<real>0.0</real>
		<key>kMLSMediaControlsScaleYWithNotifications</key>
		<real>0.7630000114440918</real>
		<key>kMLSMediaControlsSecondaryColor</key>
		<string>#E8ECEE:1.000000</string>
		<key>kMLSMediaControlsTimeOriginX</key>
		<real>0.5</real>
		<key>kMLSMediaControlsTimeOriginY</key>
		<real>0.98000001907348633</real>
		<key>kMLSMediaControlsTimeScaleX</key>
		<real>0.94999998807907104</real>
		<key>kMLSMediaControlsTimeScaleY</key>
		<real>0.10000000149011611</real>
		<key>kMLSMediaControlsTitlesOriginX</key>
		<real>0.5</real>
		<key>kMLSMediaControlsTitlesOriginY</key>
		<real>0.93000000715255737</real>
		<key>kMLSMediaControlsTitlesScaleX</key>
		<real>0.89999997615814209</real>
		<key>kMLSMediaControlsTitlesScaleY</key>
		<real>0.0099999997764825821</real>
		<key>kMLSMediaControlsTransformScale</key>
		<real>1.1000000238418579</real>
		<key>kMLSMediaControlsTransformScaleWithNotifications</key>
		<real>1.1000000238418579</real>
		<key>kMLSMediaControlsTransportOriginX</key>
		<real>0.5</real>
		<key>kMLSMediaControlsTransportOriginY</key>
		<real>0.81999999284744263</real>
		<key>kMLSMediaControlsTransportScaleX</key>
		<real>0.69999998807907104</real>
		<key>kMLSMediaControlsTransportScaleY</key>
		<real>0.94600003957748413</real>
		<key>kMLSMediaControlsVolumeOriginX</key>
		<real>0.5</real>
		<key>kMLSMediaControlsVolumeOriginY</key>
		<real>0.75</real>
		<key>kMLSMediaControlsVolumeScaleX</key>
		<real>0.94999998807907104</real>
		<key>kMLSMediaControlsVolumeScaleY</key>
		<real>0.0099999997764825821</real>
		<key>kMLSMediaControlsWithNotificationsTimeOriginX</key>
		<real>0.81000006198883057</real>
		<key>kMLSMediaControlsWithNotificationsTimeOriginY</key>
		<real>1</real>
		<key>kMLSMediaControlsWithNotificationsTimeScaleX</key>
		<real>0.98000001907348633</real>
		<key>kMLSMediaControlsWithNotificationsTitlesOriginX</key>
		<real>0.89999997615814209</real>
		<key>kMLSMediaControlsWithNotificationsTitlesOriginY</key>
		<real>0.86000001430511475</real>
		<key>kMLSMediaControlsWithNotificationsTitlesScaleX</key>
		<real>0.60000002384185791</real>
		<key>kMLSMediaControlsWithNotificationsTransportOriginX</key>
		<real>0.89999997615814209</real>
		<key>kMLSMediaControlsWithNotificationsTransportOriginY</key>
		<real>0.93500000238418579</real>
		<key>kMLSMediaControlsWithNotificationsTransportScaleX</key>
		<real>0.60000002384185791</real>
		<key>kMLSMediaControlsWithNotificationsVolumeOriginX</key>
		<real>0.89999997615814209</real>
		<key>kMLSMediaControlsWithNotificationsVolumeOriginY</key>
		<real>0.88499999046325684</real>
		<key>kMLSMediaControlsWithNotificationsVolumeScaleX</key>
		<real>0.60000002384185791</real>
		<key>kMLSNotificationHeight</key>
		<real>0.67000001668930054</real>
		<key>kMLSNotificationHintText</key>
		<true/>
		<key>kMLSNotificationOriginY</key>
		<real>0.29399999976158142</real>
		<key>kMLSNotificationWithMediaHeight</key>
		<real>0.47999998927116388</real>
		<key>kMLSNotificationWithMediaOriginY</key>
		<real>0.29399999976158142</real>
		<key>kMLSPasscodeEnabled</key>
		<true/>
		<key>kMLSPrimaryLegibilityColor</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSRemoveVolumeSlider</key>
		<true/>
		<key>kMLSScreenOff</key>
		<false/>
		<key>kMLSShuffleRepeat</key>
		<false/>
		<key>kMLSState</key>
		<integer>0</integer>
		<key>kMLSStatusBarTimeDisabled</key>
		<false/>
		<key>kMLSStatusBarTimeForced</key>
		<false/>
		<key>kMLSTestSlider</key>
		<real>0.67484664916992188</real>
		<key>kMLSTimeFontFamily</key>
		<string>.SFUIDisplay</string>
		<key>kMLSTimeFontFamily0</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSTimeFontFamily1</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSTimeFontFamily2</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSTimeFontFamily3</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSTimeFontFamily4</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSTimeFontSize</key>
		<string>60</string>
		<key>kMLSTimeFontSize0</key>
		<string>87</string>
		<key>kMLSTimeFontSize1</key>
		<string>87</string>
		<key>kMLSTimeFontSize2</key>
		<string>87</string>
		<key>kMLSTimeFontSize3</key>
		<string>87</string>
		<key>kMLSTimeFontSize4</key>
		<string>87</string>
		<key>kMLSTimeFormat</key>
		<string>h:mm</string>
		<key>kMLSTimeFormat0</key>
		<string>h:mm</string>
		<key>kMLSTimeFormat1</key>
		<string>h:mm</string>
		<key>kMLSTimeFormat2</key>
		<string>h:mm</string>
		<key>kMLSTimeFormat3</key>
		<string>h:mm</string>
		<key>kMLSTimeFormat4</key>
		<string>h:mm</string>
		<key>kMLSTimeLabelEnabled-1</key>
		<true/>
		<key>kMLSTimeLabelEnabled0</key>
		<true/>
		<key>kMLSTimeLabelEnabled1</key>
		<true/>
		<key>kMLSTimeLabelEnabled2</key>
		<true/>
		<key>kMLSTimeLabelEnabled3</key>
		<true/>
		<key>kMLSTimeLabelEnabled4</key>
		<true/>
		<key>kMLSTimeLegibilityShadows</key>
		<false/>
		<key>kMLSTimeLegibilityShadows0</key>
		<true/>
		<key>kMLSTimeLegibilityShadows1</key>
		<true/>
		<key>kMLSTimeLegibilityShadows2</key>
		<true/>
		<key>kMLSTimeLegibilityShadows3</key>
		<true/>
		<key>kMLSTimeLegibilityShadows4</key>
		<true/>
		<key>kMLSTimeStringAlignment</key>
		<integer>0</integer>
		<key>kMLSTimeStringAlignment0</key>
		<integer>2</integer>
		<key>kMLSTimeStringAlignment1</key>
		<integer>2</integer>
		<key>kMLSTimeStringAlignment2</key>
		<integer>2</integer>
		<key>kMLSTimeStringAlignment3</key>
		<integer>2</integer>
		<key>kMLSTimeStringAlignment4</key>
		<integer>2</integer>
		<key>kMLSTimeSystemFontWeight</key>
		<real>-0.60000002384185791</real>
		<key>kMLSTimeSystemFontWeight0</key>
		<real>-0.40000000596046448</real>
		<key>kMLSTimeSystemFontWeight1</key>
		<real>-0.40000000596046448</real>
		<key>kMLSTimeSystemFontWeight2</key>
		<real>-0.60000002384185791</real>
		<key>kMLSTimeSystemFontWeight3</key>
		<real>-0.60000002384185791</real>
		<key>kMLSTimeSystemFontWeight4</key>
		<real>-0.40000000596046448</real>
		<key>kMLSTimeTextColor</key>
		<string>C7C7CC:0.602102</string>
		<key>kMLSTimeTextColor0</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSTimeTextColor1</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSTimeTextColor2</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSTimeTextColor3</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSTimeTextColor4</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSTimeUseSystemFont</key>
		<true/>
		<key>kMLSTimeUseSystemFont0</key>
		<false/>
		<key>kMLSTimeUseSystemFont1</key>
		<true/>
		<key>kMLSTimeUseSystemFont2</key>
		<true/>
		<key>kMLSTimeUseSystemFont3</key>
		<true/>
		<key>kMLSTimeUseSystemFont4</key>
		<true/>
		<key>kMLSTimeViewAlignmentX</key>
		<real>0.15000000596046451</real>
		<key>kMLSTimeViewAlignmentX0</key>
		<real>0.80000001192092896</real>
		<key>kMLSTimeViewAlignmentX1</key>
		<real>0.80000001192092896</real>
		<key>kMLSTimeViewAlignmentX2</key>
		<real>0.80000001192092896</real>
		<key>kMLSTimeViewAlignmentX3</key>
		<real>0.80000001192092896</real>
		<key>kMLSTimeViewAlignmentX4</key>
		<real>0.80000001192092896</real>
		<key>kMLSTimeViewAlignmentY</key>
		<real>0.52500003576278687</real>
		<key>kMLSTimeViewAlignmentY0</key>
		<real>0.10000000149011611</real>
		<key>kMLSTimeViewAlignmentY1</key>
		<real>0.10000000149011611</real>
		<key>kMLSTimeViewAlignmentY2</key>
		<real>0.10000000149011611</real>
		<key>kMLSTimeViewAlignmentY3</key>
		<real>0.10000000149011611</real>
		<key>kMLSTimeViewAlignmentY4</key>
		<real>0.10000000149011611</real>
		<key>kMLSTodayViewVisible</key>
		<false/>
		<key>kMLSWeatherFontFamily0</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSWeatherFontFamily1</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSWeatherFontFamily2</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSWeatherFontFamily3</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSWeatherFontFamily4</key>
		<string>.SFUIDisplay-Regular</string>
		<key>kMLSWeatherFontSize0</key>
		<string>25</string>
		<key>kMLSWeatherFontSize1</key>
		<string>25</string>
		<key>kMLSWeatherFontSize2</key>
		<string>25</string>
		<key>kMLSWeatherFontSize3</key>
		<string>25</string>
		<key>kMLSWeatherFontSize4</key>
		<string>25</string>
		<key>kMLSWeatherFormat0</key>
		<string>'-temp-icon*-cond*-loc'</string>
		<key>kMLSWeatherFormat1</key>
		<string>'-temp-icon*-cond*-loc'</string>
		<key>kMLSWeatherFormat2</key>
		<string>'-temp-icon*-cond*-loc'</string>
		<key>kMLSWeatherFormat3</key>
		<string>'-temp-icon*-cond*-loc'</string>
		<key>kMLSWeatherFormat4</key>
		<string>'-temp-icon*-cond*-loc'</string>
		<key>kMLSWeatherIconScale</key>
		<string>0.7</string>
		<key>kMLSWeatherIconStyle</key>
		<string>kCurrentConditionImage_nc-variant</string>
		<key>kMLSWeatherImageScale</key>
		<string>0.7</string>
		<key>kMLSWeatherLabelEnabled-1</key>
		<true/>
		<key>kMLSWeatherLabelEnabled0</key>
		<true/>
		<key>kMLSWeatherLabelEnabled1</key>
		<true/>
		<key>kMLSWeatherLabelEnabled2</key>
		<true/>
		<key>kMLSWeatherLabelEnabled3</key>
		<true/>
		<key>kMLSWeatherLabelEnabled4</key>
		<true/>
		<key>kMLSWeatherLegibilityShadows</key>
		<false/>
		<key>kMLSWeatherLegibilityShadows0</key>
		<true/>
		<key>kMLSWeatherLegibilityShadows1</key>
		<true/>
		<key>kMLSWeatherLegibilityShadows2</key>
		<true/>
		<key>kMLSWeatherLegibilityShadows3</key>
		<true/>
		<key>kMLSWeatherLegibilityShadows4</key>
		<true/>
		<key>kMLSWeatherStringAlignment</key>
		<integer>2</integer>
		<key>kMLSWeatherStringAlignment0</key>
		<integer>0</integer>
		<key>kMLSWeatherStringAlignment1</key>
		<integer>0</integer>
		<key>kMLSWeatherStringAlignment2</key>
		<integer>0</integer>
		<key>kMLSWeatherStringAlignment3</key>
		<integer>0</integer>
		<key>kMLSWeatherStringAlignment4</key>
		<integer>0</integer>
		<key>kMLSWeatherSystemFontWeight</key>
		<real>-0.40000000596046448</real>
		<key>kMLSWeatherSystemFontWeight0</key>
		<real>-0.40000000596046448</real>
		<key>kMLSWeatherSystemFontWeight1</key>
		<real>-0.40000000596046448</real>
		<key>kMLSWeatherSystemFontWeight2</key>
		<real>-0.60000002384185791</real>
		<key>kMLSWeatherSystemFontWeight3</key>
		<real>-0.60000002384185791</real>
		<key>kMLSWeatherSystemFontWeight4</key>
		<real>-0.40000000596046448</real>
		<key>kMLSWeatherTextColor</key>
		<string>C7C7CC:0.603604</string>
		<key>kMLSWeatherTextColor0</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSWeatherTextColor1</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSWeatherTextColor2</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSWeatherTextColor3</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSWeatherTextColor4</key>
		<string>EAEAEA:1.000000</string>
		<key>kMLSWeatherUpdateInterval</key>
		<string>30</string>
		<key>kMLSWeatherUpdateInterval0</key>
		<string>15</string>
		<key>kMLSWeatherUpdateInterval1</key>
		<string>15</string>
		<key>kMLSWeatherUpdateInterval2</key>
		<string>15</string>
		<key>kMLSWeatherUpdateInterval3</key>
		<string>15</string>
		<key>kMLSWeatherUpdateInterval4</key>
		<string>15</string>
		<key>kMLSWeatherUseSystemFont0</key>
		<true/>
		<key>kMLSWeatherUseSystemFont1</key>
		<true/>
		<key>kMLSWeatherUseSystemFont2</key>
		<true/>
		<key>kMLSWeatherUseSystemFont3</key>
		<true/>
		<key>kMLSWeatherUseSystemFont4</key>
		<true/>
		<key>kMLSWeatherViewAlignmentX</key>
		<real>0.95000004768371582</real>
		<key>kMLSWeatherViewAlignmentX0</key>
		<real>0.039999999105930328</real>
		<key>kMLSWeatherViewAlignmentX1</key>
		<real>0.039999999105930328</real>
		<key>kMLSWeatherViewAlignmentX2</key>
		<real>0.039999999105930328</real>
		<key>kMLSWeatherViewAlignmentX3</key>
		<real>0.039999999105930328</real>
		<key>kMLSWeatherViewAlignmentX4</key>
		<real>0.039999999105930328</real>
		<key>kMLSWeatherViewAlignmentY</key>
		<real>0.875</real>
		<key>kMLSWeatherViewAlignmentY0</key>
		<string>0.104</string>
		<key>kMLSWeatherViewAlignmentY1</key>
		<string>0.104</string>
		<key>kMLSWeatherViewAlignmentY2</key>
		<string>0.104</string>
		<key>kMLSWeatherViewAlignmentY3</key>
		<string>0.104</string>
		<key>kMLSWeatherViewAlignmentY4</key>
		<string>0.104</string>
		<key>weatherOptionsState</key>
		<string>WeatherLabel0</string>
	</dict>
</plist>
