<!--
kMLSMediaControlsOriginX
kMLSMediaControlsOriginY
kMLSMediaControlsScaleX
kMLSMediaControlsScaleY
kMLSMediaControlsOriginXWithNotifications
kMLSMediaControlsOriginYWithNotifications
kMLSMediaControlsScaleXWithNotifications
kMLSMediaControlsScaleYWithNotifications
   -->

<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
  <dict>
    <key>items</key>
    <array>

      <dict>
        <key>cell</key>
        <string>PSSegmentCell</string>
        <key>loadPlist</key>
        <true/>
        <key>key</key>
        <string>controlsPositionState</string>
        <key>default</key>
        <integer>0</integer>
        <key>validTitles</key>
        <array>
          <string>Default</string>
          <string>With Notifications</string>
        </array>
        <key>validValues</key>
        <array>
          <string>MediaControlsPosition</string>
          <string>MediaControlsPositionNotifications</string>
        </array>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Media Controls Scale (scales all media controls as a whole)</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>cellClass</key>
        <string>CSPValueCell</string>
        <key>formatsDecimals</key>
        <true/>
        <key>seporatorHidden</key>
        <true/>
        <key>height</key>
        <string>30</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <string>0.7</string>
        <key>detail</key>
        <string>PSDetailController</string>
        <key>isDecimalPad</key>
        <true/>
        <key>key</key>
        <string>kMLSMediaControlsTransformScaleWithNotifications</string>
        <key>label</key>
        <string>Control Scale</string>
        <key>placeholder</key>
        <string>0.7</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <real>0.7</real>
        <key>min</key>
        <real>0.25</real>
        <key>max</key>
        <real>1.25</real>
        <key>isContinuous</key>
        <true/>
        <key>showValue</key>
        <false/>
        <key>key</key>
        <string>kMLSMediaControlsTransformScaleWithNotifications</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
        <key>leftImage</key>
        <string>glyphs/compress.png</string>
        <key>rightImage</key>
        <string>glyphs/resize diagonal.png</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Playback Buttons Position &amp; Size With Notifications</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>cellClass</key>
        <string>CSPValueCell</string>
        <key>formatsDecimals</key>
        <true/>
        <key>seporatorHidden</key>
        <true/>
        <key>height</key>
        <string>30</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <string>0.5</string>
        <key>detail</key>
        <string>PSDetailController</string>
        <key>isDecimalPad</key>
        <true/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTransportOriginX</string>
        <key>label</key>
        <string>Buttons Position X</string>
        <key>placeholder</key>
        <string>0.5</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <real>0.5</real>
        <key>min</key>
        <real>0</real>
        <key>max</key>
        <real>1</real>
        <key>isContinuous</key>
        <true/>
        <key>showValue</key>
        <false/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTransportOriginX</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
        <key>leftImage</key>
        <string>glyphs/left.png</string>
        <key>rightImage</key>
        <string>glyphs/right.png</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>cellClass</key>
        <string>CSPValueCell</string>
        <key>formatsDecimals</key>
        <true/>
        <key>seporatorHidden</key>
        <true/>
        <key>height</key>
        <string>30</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <string>0.7</string>
        <key>detail</key>
        <string>PSDetailController</string>
        <key>isDecimalPad</key>
        <true/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTransportOriginY</string>
        <key>label</key>
        <string>Buttons Position Y</string>
        <key>placeholder</key>
        <string>0.7</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <real>0.7</real>
        <key>min</key>
        <real>0</real>
        <key>max</key>
        <real>1</real>
        <key>isContinuous</key>
        <true/>
        <key>showValue</key>
        <false/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTransportOriginY</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
        <key>leftImage</key>
        <string>glyphs/up.png</string>
        <key>rightImage</key>
        <string>glyphs/down.png</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>cellClass</key>
        <string>CSPValueCell</string>
        <key>formatsDecimals</key>
        <true/>
        <key>seporatorHidden</key>
        <true/>
        <key>height</key>
        <string>30</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <string>0.5</string>
        <key>detail</key>
        <string>PSDetailController</string>
        <key>isDecimalPad</key>
        <true/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTransportScaleX</string>
        <key>label</key>
        <string>Buttons Scale</string>
        <key>placeholder</key>
        <string>0.5</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <real>0.5</real>
        <key>min</key>
        <real>0</real>
        <key>max</key>
        <real>1</real>
        <key>isContinuous</key>
        <true/>
        <key>showValue</key>
        <false/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTransportScaleX</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
        <key>leftImage</key>
        <string>glyphs/merge vertical.png</string>
        <key>rightImage</key>
        <string>glyphs/split horizontal.png</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Marquee Label Position &amp; Size With Notifications</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>cellClass</key>
        <string>CSPValueCell</string>
        <key>formatsDecimals</key>
        <true/>
        <key>seporatorHidden</key>
        <true/>
        <key>height</key>
        <string>30</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <string>0.5</string>
        <key>detail</key>
        <string>PSDetailController</string>
        <key>isDecimalPad</key>
        <true/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTitlesOriginX</string>
        <key>label</key>
        <string>Label Position X</string>
        <key>placeholder</key>
        <string>0.5</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <real>0.5</real>
        <key>min</key>
        <real>0</real>
        <key>max</key>
        <real>1</real>
        <key>isContinuous</key>
        <true/>
        <key>showValue</key>
        <false/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTitlesOriginX</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
        <key>leftImage</key>
        <string>glyphs/left.png</string>
        <key>rightImage</key>
        <string>glyphs/right.png</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>cellClass</key>
        <string>CSPValueCell</string>
        <key>formatsDecimals</key>
        <true/>
        <key>seporatorHidden</key>
        <true/>
        <key>height</key>
        <string>30</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <string>0.7</string>
        <key>detail</key>
        <string>PSDetailController</string>
        <key>isDecimalPad</key>
        <true/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTitlesOriginY</string>
        <key>label</key>
        <string>Label Position Y</string>
        <key>placeholder</key>
        <string>0.7</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <real>0.7</real>
        <key>min</key>
        <real>0</real>
        <key>max</key>
        <real>1</real>
        <key>isContinuous</key>
        <true/>
        <key>showValue</key>
        <false/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTitlesOriginY</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
        <key>leftImage</key>
        <string>glyphs/up.png</string>
        <key>rightImage</key>
        <string>glyphs/down.png</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>cellClass</key>
        <string>CSPValueCell</string>
        <key>formatsDecimals</key>
        <true/>
        <key>seporatorHidden</key>
        <true/>
        <key>height</key>
        <string>30</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <string>0.5</string>
        <key>detail</key>
        <string>PSDetailController</string>
        <key>isDecimalPad</key>
        <true/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTitlesScaleX</string>
        <key>label</key>
        <string>Label Scale</string>
        <key>placeholder</key>
        <string>0.5</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <real>0.5</real>
        <key>min</key>
        <real>0</real>
        <key>max</key>
        <real>1</real>
        <key>isContinuous</key>
        <true/>
        <key>showValue</key>
        <false/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTitlesScaleX</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
        <key>leftImage</key>
        <string>glyphs/merge vertical.png</string>
        <key>rightImage</key>
        <string>glyphs/split horizontal.png</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Volume Slider Position &amp; Size With Notifications</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>cellClass</key>
        <string>CSPValueCell</string>
        <key>formatsDecimals</key>
        <true/>
        <key>seporatorHidden</key>
        <true/>
        <key>height</key>
        <string>30</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <string>0.5</string>
        <key>detail</key>
        <string>PSDetailController</string>
        <key>isDecimalPad</key>
        <true/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsVolumeOriginX</string>
        <key>label</key>
        <string>Slider Position X</string>
        <key>placeholder</key>
        <string>0.5</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <real>0.5</real>
        <key>min</key>
        <real>0</real>
        <key>max</key>
        <real>1</real>
        <key>isContinuous</key>
        <true/>
        <key>showValue</key>
        <false/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsVolumeOriginX</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
        <key>leftImage</key>
        <string>glyphs/left.png</string>
        <key>rightImage</key>
        <string>glyphs/right.png</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>cellClass</key>
        <string>CSPValueCell</string>
        <key>formatsDecimals</key>
        <true/>
        <key>seporatorHidden</key>
        <true/>
        <key>height</key>
        <string>30</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <string>0.7</string>
        <key>detail</key>
        <string>PSDetailController</string>
        <key>isDecimalPad</key>
        <true/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsVolumeOriginY</string>
        <key>label</key>
        <string>Slider Position Y</string>
        <key>placeholder</key>
        <string>0.7</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <real>0.7</real>
        <key>min</key>
        <real>0</real>
        <key>max</key>
        <real>1</real>
        <key>isContinuous</key>
        <true/>
        <key>showValue</key>
        <false/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsVolumeOriginY</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
        <key>leftImage</key>
        <string>glyphs/up.png</string>
        <key>rightImage</key>
        <string>glyphs/down.png</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>cellClass</key>
        <string>CSPValueCell</string>
        <key>formatsDecimals</key>
        <true/>
        <key>seporatorHidden</key>
        <true/>
        <key>height</key>
        <string>30</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <string>0.5</string>
        <key>detail</key>
        <string>PSDetailController</string>
        <key>isDecimalPad</key>
        <true/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsVolumeScaleX</string>
        <key>label</key>
        <string>Slider Scale</string>
        <key>placeholder</key>
        <string>0.5</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <real>0.5</real>
        <key>min</key>
        <real>0</real>
        <key>max</key>
        <real>1</real>
        <key>isContinuous</key>
        <true/>
        <key>showValue</key>
        <false/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsVolumeScaleX</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
        <key>leftImage</key>
        <string>glyphs/merge vertical.png</string>
        <key>rightImage</key>
        <string>glyphs/split horizontal.png</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Media Scrubber Position &amp; Size With Notifications</string>
        <key>footerText</key>
        <string>these settings will control the position and size of the individual media control elements i.e. the volume slider, playback buttons etc.</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>cellClass</key>
        <string>CSPValueCell</string>
        <key>formatsDecimals</key>
        <true/>
        <key>seporatorHidden</key>
        <true/>
        <key>height</key>
        <string>30</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <string>0.5</string>
        <key>detail</key>
        <string>PSDetailController</string>
        <key>isDecimalPad</key>
        <true/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTimeOriginX</string>
        <key>label</key>
        <string>Scrubber Position X</string>
        <key>placeholder</key>
        <string>0.5</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <real>0.5</real>
        <key>min</key>
        <real>0</real>
        <key>max</key>
        <real>1</real>
        <key>isContinuous</key>
        <true/>
        <key>showValue</key>
        <false/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTimeOriginX</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
        <key>leftImage</key>
        <string>glyphs/left.png</string>
        <key>rightImage</key>
        <string>glyphs/right.png</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>cellClass</key>
        <string>CSPValueCell</string>
        <key>formatsDecimals</key>
        <true/>
        <key>seporatorHidden</key>
        <true/>
        <key>height</key>
        <string>30</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <string>0.7</string>
        <key>detail</key>
        <string>PSDetailController</string>
        <key>isDecimalPad</key>
        <true/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTimeOriginY</string>
        <key>label</key>
        <string>Scrubber Position Y</string>
        <key>placeholder</key>
        <string>0.7</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <real>0.7</real>
        <key>min</key>
        <real>0</real>
        <key>max</key>
        <real>1</real>
        <key>isContinuous</key>
        <true/>
        <key>showValue</key>
        <false/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTimeOriginY</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
        <key>leftImage</key>
        <string>glyphs/up.png</string>
        <key>rightImage</key>
        <string>glyphs/down.png</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSEditTextCell</string>
        <key>cellClass</key>
        <string>CSPValueCell</string>
        <key>formatsDecimals</key>
        <true/>
        <key>seporatorHidden</key>
        <true/>
        <key>height</key>
        <string>30</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <string>0.5</string>
        <key>detail</key>
        <string>PSDetailController</string>
        <key>isDecimalPad</key>
        <true/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTimeScaleX</string>
        <key>label</key>
        <string>Scrubber Scale</string>
        <key>placeholder</key>
        <string>0.5</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
      </dict>

      <dict>
        <key>cell</key>
        <string>PSSliderCell</string>
        <key>defaults</key>
        <string>com.creaturesurvive.motuumls</string>
        <key>default</key>
        <real>0.5</real>
        <key>min</key>
        <real>0</real>
        <key>max</key>
        <real>1</real>
        <key>isContinuous</key>
        <true/>
        <key>showValue</key>
        <false/>
        <key>key</key>
        <string>kMLSMediaControlsWithNotificationsTimeScaleX</string>
        <key>PostNotification</key>
        <string>com.creaturesurvive.motuumls.prefschanged</string>
        <key>leftImage</key>
        <string>glyphs/merge vertical.png</string>
        <key>rightImage</key>
        <string>glyphs/split horizontal.png</string>
      </dict>

    </array>
    <key>title</key>
    <string>Media Controls Position</string>
  </dict>
</plist>
