<?xml version=1.0 encoding=UTF-8?>
<!DOCTYPE plist PUBLIC -//Apple//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd>
<plist version=1.0>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>label</key>
				<string>Enabled</string>
				<key>key</key>
				<string>Enabled</string>
				<key>isGroupToggle</key>
				<true/>
				<key>PostNotification</key>
				<string>com.creaturecoding.notified.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.notified</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>CSN_Amount</string>
				<key>label</key>
				<string>Amount To Send</string>
				<key>placeholder</key>
				<string>5</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.notified.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.notified</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>CSN_Title</string>
				<key>label</key>
				<string>Titile</string>
				<key>placeholder</key>
				<string>Notified</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.notified.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.notified</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>CSN_Subtitle</string>
				<key>label</key>
				<string>Subtitle</string>
				<key>placeholder</key>
				<string>Test Notification</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.notified.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.notified</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>CSN_Message</string>
				<key>label</key>
				<string>Message</string>
				<key>placeholder</key>
				<string>Bleep Bloop Blop</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.notified.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.notified</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSEditTextCell</string>
				<key>detail</key>
				<string>PSDetailController</string>
				<key>key</key>
				<string>CSN_DefaultAction</string>
				<key>label</key>
				<string>Default Action</string>
				<key>placeholder</key>
				<string>prefs:root=Notified</string>
				<key>PostNotification</key>
				<string>com.creaturecoding.notified.prefschanged</string>
				<key>defaults</key>
				<string>com.creaturecoding.notified</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>action</key>
				<string>CSN_publishLockScreenNotification</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Send LS Notification</string>
			</dict>
			<dict>
				<key>action</key>
				<string>CSN_publishNotificationCenterNotification</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Send NC Notification</string>
			</dict>
			<dict>
				<key>action</key>
				<string>CSN_publishBannerNotification</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Send Banner Notification</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>CreatureCoding © 2017</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>action</key>
				<string>pushToView:</string>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>pushToPlist</key>
				<string>Support</string>
				<key>label</key>
				<string>Support &amp; Creator</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>CSPBackupListViewController</string>
				<key>isController</key>
				<true/>
				<key>PostNotification</key>
				<string>com.creaturecoding.notified.prefschanged</string>
				<key>label</key>
				<string>Backup &amp; Restore</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>CSPChangeLogController</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>ChangeLog</string>
				<key>changes</key>
				<array>
					<dict>
						<key>0.0.1</key>
						<array>
							<string>initial release</string>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSStaticTextCell</string>
				<key>cellClass</key>
				<string>CSPVersionCell</string>
				<key>bundleID</key>
				<string>com.creaturecoding.notified</string>
				<key>label</key>
				<string>Version:</string>
			</dict>
		</array>
		<key>title</key>
		<string>Notified</string>
	</dict>
</plist>
